/* Roboto Regular (400) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-v50-cyrillic_latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Roboto Regular Italic (400) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-v50-cyrillic_latin-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Roboto ExtraLight (200) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-v50-cyrillic_latin-200.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Roboto ExtraLight Italic (200) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-v50-cyrillic_latin-200italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Roboto SemiBold (600) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-v50-cyrillic_latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Roboto SemiBold Italic (600) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-v50-cyrillic_latin-600italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Roboto ExtraBold (800) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-v50-cyrillic_latin-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Roboto ExtraBold Italic (800) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-v50-cyrillic_latin-800italic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Применение шрифта по умолчанию */
body {
  font-family:
    "Roboto",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
